@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  /* Colors: */
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-ebebeb: #ebebeb;
  /* Font/text values */
  --unnamed-font-family-roboto: Roboto;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-32: 32px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-17: 17px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-23: 23px;
  --unnamed-line-spacing-25: 25px;
  --unnamed-line-spacing-30: 30px;
}
// Estilo geral do componente
.main {
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  background: #f6f6f9 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 0;
  padding: 0;
}

// Contên o background Azul da metade da tela
.contents {
  top: -5px;
  left: -12px;
  width: 100%;
  height: 395px;
  background: #1767e5 0% 0% no-repeat padding-box;
  opacity: 1;
}
//  -----------------

// Img logo SimSave
.contents img {
  position: absolute;
  top: 148px;
  left: 141px;
  width: 131px;
  height: 33px;
  //   background: transparent url("../../../assets/LogoSimSave.svg") 0% 0% no-repeat;
  // padding-box;
  opacity: 1;
  z-index: 111;
}
//  ---------------

// Card do form
.card-login {
  position: absolute;
  top: 215px;
  left: 18px;
  width: 378px;
  height: 306px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-login h2 {
  width: 220px;
  height: 29px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) 24px/29px
    var(--unnamed-font-family-roboto);
  text-align: center;
  font-size: 23.5px;
  font-weight: bold;
  color: #1767e5;
  opacity: 1;
  margin-bottom: 11px;
}

.card-login p {
  width: 232px;
  height: 37px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 18px
    var(--unnamed-font-family-roboto);
  text-align: center;
  color: #5d5d5d;
  opacity: 1;
  margin: 0;
}

// Material edit inputs
.mat-form-field-infix {
  padding: 7.5px 0;
  border-bottom: 2px solid #1767e5;
}
//  -------------

// Form
form {
  display: flex;
  flex-direction: column;
}

.label-form {
  color: #000000de;
  font-size: 16px;
}

// Grupo do input + label do name
.group-name {
  width: 320px;
  height: 51px;
}

// Grupo do input + label da senha
.group-password {
  width: 320px;
}

// Nessa div contêm o botão do form
#button {
  display: flex;
  justify-content: center;
  margin: 7px 0 -7px;
}

#button button {
  width: 94.91px;
  height: 36px;
  background: #1767e5 0% 0% no-repeat padding-box;
  color: #ffffff;
  text-transform: uppercase;
}
// -------------

// Responsividade para desktop
@media screen and (min-width: 1400px) and (max-width: 1920px) {
  .main {
    width: 100%;
    height: 800px;
  }
  .contents {
    width: 100%;
    height: 400px;
  }
  .contents img {
    top: 199.32px;
    left: 894.39px;
    width: 131.25px;
    height: 33.36px;
  }
  .card-login {
    position: absolute;
    top: 255px;
    left: 761px;
    width: 398px;
    height: 306px;
  }
  .card h2 {
    margin: 0;
    padding-bottom: 11px;
  }
}
