<div class="main">
    <div class="contents">
        <a routerLink="/"><img src="../assets/images/LogoSimSave.svg" alt="logo-simSave"></a>

        <div class="card-login">

            <h2>Entrar na plataforma</h2>
            <p class="paragrafo">Digite seu e-mail e senha abaixo para entrar na plataforma.</p>

            <form id="inputs" method="POST">
                <mat-form-field class="group-name" appearance="standard">
                    <mat-label class="label-form">Nome</mat-label>
                    <input matInput placeholder="Ex. 123@123.com" class="input-form">
                </mat-form-field>

                <mat-form-field class="group-password" appearance="standard">
                    <mat-label class="label-form">Senha</mat-label>
                    <input matInput type="password" placeholder="Ex. 161321dfwf>M." class="input-form">
                </mat-form-field>
                <div id="button">
                    <button mat-button routerLink="/">Entrar</button>
                </div>
            </form>

        </div>
    </div>
</div>